<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mappers.BoardMapper">
	
	<select id="listAll" resultType="BoardVo">
		select pNo, pName, pContent, startDate, endDate, pState 
		from project
		where pNo > 0 order by pNo desc;
	</select>
	
	<insert id="create">
		insert into project(pName, pContent, startDate, endDate, pState) 
		values(#{pName}, #{pContent}, #{startDate}, #{endDate}, #{pState});
	</insert>
	
	<select id="read" resultType="BoardVo">
		select pNo, pName, pContent, startDate, endDate, pState
		from project
		where pNo = #{pNo};
	</select>
	
	<update id="update">
		update project set pName = #{pName}, pContent = #{pContent}, startDate = #{startDate}, endDate = #{endDate}, pState = #{pState} 
		where pNo = #{pNo};
	</update>
	
	<delete id="delete">
		delete from project where pNo = #{pNo};
	</delete>
		
</mapper>